<div class="pageContainer">
  <h1>All questions</h1>
  <div class="filtering">
    <% @categories.each do |c| %>
      <div id="<%= c.id %>" class="header-question">
        <h4 id="header<%= c.id %>"><%= c.name %></h4>
        <div class="question-list" id="qlist<%=c.id%>">
          <% c.questions.each do |q| %>
            <% if q.private == false || q.private == nil %>
              <p><%= link_to q.content, new_talking_point_path(question_selection: q.id) %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script charset="utf-8">
  $(".header-question").click(function(e){
    console.log("HI")
    $(this).children(".question-list").fadeToggle();
  });
</script>
