<h1>Add an Interview Question</h1>
<%= form_for @question, :html => {:multipart => true} do |f| %>
  <%= f.label :content, "What is your practice question?" %>
  <%= f.text_field :content  %>

  <br>

  <%= f.radio_button :private, 'private' %>
  <%= f.label :private_private, "Private"%>
  <%= f.radio_button :private, 'public' %>
  <%= f.label :private_public, "Public" %>

  <br>

  <!-- Fields for the keywords go here -->
  <%= fields_for @talking_point do |point| %>
  
  <%= f.submit "Submit" %>
<% end %>
