<h1>Add an Interview Question</h1>
<%= form_for @question, :html => {:multipart => true} do |f| %>
  <div class="form-group">
    <%= f.label :content, "What is your practice question?" %>
    <%= f.text_field :content, class: "form-control simple-form" %>
  </div>


  <div class="form-group">
    <%= f.radio_button :private, true %>
    <%= f.label :private_true, "Private"%>
    <%= f.radio_button :private, false %>
    <%= f.label :private_false, "Public" %>
  </div>

  <div class="form-group">
    <%= fields_for @talking_point do |point| %>
      <%= point.label :phrase, "Add a phrase or word." %>
      <input type="text" name="talking_point[phrase][]" id="talking_point_phrase" class="form-control spaced simple-form">
      <!-- This is where more text fields are added -->
      <div id="morePoints">
      </div>
      <button id="addMore" class="btn btn-default">Add another</button>
    <% end %>
  </div>

  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>
