<div class="pageContainer">
  <h1>Add an Interview Question</h1>
  <%= form_for @question, :html => {:multipart => true} do |f| %>
    <div class="form-group categories">
      <%= f.label :categories, "Categorize your Question" %>
        <% @categories.each do |category| %><br>
          <%= category.name %>
          <%= check_box_tag "question[category_ids][]", category.id, @question.categories.include?(category) %>
        <% end %>
    </div>

    <div class="left">
      <div class="form-group">
        <%= f.label :content, "What is your practice question?" %>
        <%= f.text_field :content, class: "form-control simple-form" %>
        <%= render "shared/error_messages", obj: @question, col: :content %>
      </div>

      <div class="form-group">
        <%= f.radio_button :private, true %>
        <%= f.label :private_true, "Private"%>
        <%= f.radio_button :private, false %>
        <%= f.label :private_false, "Public" %>
      </div>

      <%= f.submit "Submit", class: "btn btn-default" %>
    </div>

  <% end %>
  <div id="float-clear">
  </div>
</div>
