<!DOCTYPE html>
<html>
<head>
  <title>Capstone</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
  <h1>Title</h1>
  <ul>
    <li><%= link_to "New Recording", new_response_path %></li>
    <li><%= link_to "Splash page", root_path %></li>
    <li><%= link_to "New Question", new_question_path %></li>
    <li><%= link_to "Results", results_path %></li>
    <li><%= link_to "Interview Mode", new_talking_point_path(random: true) %></li>
  </ul>
</header>

<div class="container-fluid">
  <%= yield %>
</div>


</body>
</html>
